.ant-modal-content,
.ant-notification-notice {
  border-radius: 0 8px 8px !important;
}

.ant-select-selector {
  border-radius: 0 8px 8px !important;
  font-size: 18px;
  height: max-content !important;
  border: none !important;
  background-color: #f1f5f9 !important;
  padding: 4px 8px !important;
}

.white-bg > .ant-select-selector {
  background-color: #fff !important;
}

.small-text > .ant-select-selector > .ant-select-selection-item {
  font-size: 16px !important;
}

.ant-spin-dot-item {
  background-color: #9698fd !important;
}

.ant-space-item {
  width: 100% !important;
}

.ant-spin-nested-loading {
  height: 100% !important;
}

.ant-spin-container {
  height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between;
}

.ant-popover-inner-content {
  padding: 0 !important;
}

.ant-popover-arrow-content::before {
  background-color: #2d31fa !important;
}

.ant-checkbox {
  display: none !important;
}

.ant-checkbox-wrapper {
  padding: 3px !important;
  border: 1.5px solid rgb(203 213 225);
  border-radius: 12px !important;
  background-color: rgb(248 250 252);
  user-select: none !important;
}

.ant-checkbox-wrapper-checked {
  border: 1.5px solid #2d31fa;
  color: #fff !important;
  background-color: #2d31fa;
}

.ant-slider-handle {
  border-color: #2d31fa !important;
}
